<web-app>
	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>main.ServletSignIn</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>signup</servlet-name>
		<servlet-class>main.ServletSignUp</servlet-class>
	</servlet>
	<servlet>
	    <servlet-name>Jersey REST Service</servlet-name>
	    <servlet-class>org.glassfish.jersey.servlet.ServletContainer</servlet-class>
	    <init-param>
	        <param-name>jersey.config.server.provider.packages</param-name>
	        <param-value>main.resources</param-value>
	    </init-param>
	    <load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/serv/signin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>signup</servlet-name>
		<url-pattern>/serv/signup</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
	    <servlet-name>Jersey REST Service</servlet-name>
	    <url-pattern>/rest/*</url-pattern>
	</servlet-mapping>
	<filter>
	   <filter-name>authfilter</filter-name>
	   <filter-class>main.FilterMember</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>authfilter</filter-name>
	   <url-pattern>/pages/member/*</url-pattern>
	</filter-mapping>
</web-app>
