<web-app>
	<servlet>
		<servlet-name>signin</servlet-name>
		<servlet-class>main.ServletSignIn</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>signin</servlet-name>
		<url-pattern>/serv/signin</url-pattern>
	</servlet-mapping>
	<filter>
	   <filter-name>authfilter</filter-name>
	   <filter-class>main.FilterMember</filter-class>
	</filter>
	<filter-mapping>
	   <filter-name>authfilter</filter-name>
	   <url-pattern>/pages/member/*</url-pattern>
	</filter-mapping>
</web-app>
